/* Base Sidebar Styles */
.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.3;
  position: inherit;
  min-width: 150px;
  margin-top: 20px;
  padding-right: 20px;
  overflow-y: scroll;
  height: 100vh;
  background-color: white;
  transition: transform 0.3s ease-in-out;
  z-index: 1001;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* default for desktop */
}

.sidebar__twitterIcon {
  color: var(--twitter-color);
  font-size: 35px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 10px !important;
}

.sidebar > .Profile__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 10px;
  border-radius: 9999px;
  padding: 10px;
}

.user__info {
  margin-left: 10px;
}

.subUser__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.user__info > h4 {
  font-size: 14px;
}

.user__info > h5 {
  opacity: 50%;
}

/* Hamburger Icon (Only visible on small screens) */
.hamburger {
  font-size: 10px;
  display: none;
  position: fixed;
  top: 5px;
  left: 15px;
  z-index: 1100;
  background: white;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* Container for Sidebar (mobile) */
.sidebar-container {
  display: flex;
}

@media (max-width: 768px) {
  /* Show hamburger */
  .hamburger {
    display: block;
  }
  .sidebar__header {
    justify-content: flex-end; /* push to right only in mobile */
    padding-right: 10px;
  }

  .sidebar__twitterIcon {
    margin-left: 0;
    margin-right: 0;
    font-size: medium;
  }

  /* Sidebar hidden by default on mobile */
  .sidebar-container {
    display: none;
  }

  .sidebar-container.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1050;
  }

  .sidebar {
    border: none;
    margin: 0;
    padding: 10px;
    overflow-y: auto;
    height: 100%;
  }
}
